LocalClient/Assembly-CSharp.csproj
LocalClient/App.config
LocalClient/Assembly-CSharp-Editor.csproj
LocalClient/Assembly-CSharp-firstpass.csproj
LocalClient/LocalClient.sln
LocalClient/.idea/
LocalClient/Library/Artifacts/3d/3d025a5b7bcd6d53bf9c80d15b7145b6
LocalClient/Library/
LocalClient/Logs/
LocalClient/obj/
ProtobufTool/.idea/
LocalServer/.idea/
LocalClient/Assets/.idea/
LocalClient/LocalClient.sln.DotSettings.user
LocalClient/Temp/
LocalServer/ConsoleApplicatLocalServer/bin/
LocalServer/ConsoleApplicatLocalServer/obj/Debug/ConsoleApplicatLocalServer.csproj.AssemblyReference.cache
LocalServer/packages/
LocalServer/ConsoleApplicatLocalServer/obj/
LocalServer/ConsoleApplicatLocalServer.sln.DotSettings.user
LocalServer/ConsoleApplicatLocalServer/packages.config
LocalClient/Packages/
LocalClient/log.txt
LocalClient/testVideo.bytes
LocalClient/video.bytes
